{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>
		Credit Management
	</title>
	<style type="text/css">
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: rgba(255,255,255,0.3);
		}
		li{
			float: right;
		}
		li a{
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none; 
		}
		li a:hover{
			background: #111;
		}		
	</style>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

<ul>
	<li>
		<a class="active"
			href="/">Home
		</a>
	</li>
	<li>
		<a class="active"
			href="/users">View Users
		</a>
	</li>
	<li>
		<a class="active"
			href="/transfer">Transfer Credit
		</a>
	</li>
	<li>
		<a class="active"
			href="/transactions">View Transaction
		</a>
	</li>	
	
</ul>
<br><br><br><br><br><br>
<table style="font-size: 30px; color: white;" align="center">
	<th style="padding: 10px;" align="center">Name</tr>
	<th style="padding: 10px;" align="center">Balance</tr>

	{% for val in data %}
	<tr>
	{% if val %}
	<td style="padding: 10px;" align="center">{{ val.name }}</td>
	<td style="padding: 10px;" align="center">{{ val.credit }}</td>
	<td><input type="text" name="credit" id="tr{{ val.id }}" placeholder="Enter credit" /></td>
	<td style="padding: 10px;" align="center" id="trn{{ val.id }}"><button>Transfer</button></td>

	{% endif %}
	</tr>

	{% endfor %}

</table>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="{% static '/js/transfer_to.js' %}" ></script>
          <script type="text/javascript" src="{% static '/js/common.min.js' %}" ></script>
          <script type="text/javascript" src="{% static '/js/custom.min.js' %}" ></script>
</body>
</html>

